/*default props*/

html,
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: small;
}

body {
    display: grid;
    grid-template-rows: 89px auto auto;
}


/*HEADER STYLING*/

header {
    grid-row: 1/span 1;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}


/*both nav lists*/

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list>li {
    list-style-type: none;
}

.nav-list>li>a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.nav-list>li>a:hover {
    text-decoration: underline;
}


/*nav-list-left*/

#nav-list-left {
    margin-left: -15px;
}

#nav-list-left>li {
    margin-right: 15px;
}


/*nav-list-right*/

#nav-list-right {
    margin-right: 25px;
}

#nav-list-right>li {
    margin-left: 15px;
}

#nav-app-button {
    width: 30px;
    height: 30px;
    margin-top: -8px;
    padding: 0px;
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: 0.75;
}

#nav-app-button:hover {
    opacity: 1;
}

#nav-profile-button {
    display: grid;
    place-items: center;
    background-color: black;
    border-radius: 50%;
    padding: auto;
    color: white;
    width: 32px;
    height: 32px;
    margin-top: -9px;
    font-size: 18px;
    font-weight: 500;
}

#nav-profile-button:hover {
    text-decoration: none;
}


/*MAIN STYLING*/

main {
    grid-row: 2/span 1;
    display: grid;
    place-content: center;
    height: 100%;
    margin: 0;
    font-size: 13px;
}

#google-logo-div {
    display: grid;
    justify-content: center;
    padding: 30px 0;
}

#search-div {
    display: flex;
    flex-direction: row;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 25px;
    padding: 0 5px;
    width: min(584px, 90vw);
    height: 44px;
}

#search-div:hover {
    box-shadow: 0 0 5px 1.5px rgba(0, 0, 0, 0.1);
}

#lupe-icon-container {
    display: grid;
    place-content: center;
    width: 30px;
}

svg {
    height: 20px;
    width: 20px;
    fill-opacity: 0.75;
}

#search-text-input {
    display: flex;
    flex: 100%;
    margin: 5px 0px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 16px;
}

#submit-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0;
}

#submit-buttons-div>button {
    margin: 11px 4px;
    font-size: 14px;
    padding: 0 16px;
    outline: none;
    border: 1px solid rgba(235, 233, 233, 0.4);
    background-color: rgba(235, 233, 233, 0.4);
    height: 36px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    text-align: center;
}

#submit-buttons-div>button:hover {
    border-color: rgba(197, 197, 197, 0.8);
    box-shadow: 0 0.8px 1px 0 rgba(197, 197, 197, 0.8);
}

#language-section {
    text-align: center;
}